/* Font Imports */
@import url("https://rsms.me/inter/inter.css");

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/* Global CSS Variables */
:root {
  /* Colors */
  --main-black: #000000;
  --main-white: #ffffff;
  --main-grey-light: #f2f5ff;
  --main-grey-dark: #cccccc;
  --main-blue-light: #d5e5ff;
  --main-blue: #80b3ff;
  --main-blue-dark: #0066ff;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 62px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  line-height: 72px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
}

p {
  font-size: 20px;
  color: var(--main-grey-dark);
  font-family: "San Francisco", sans-serif;
  line-height: 30px;
}

a {
  font-size: 14px;
  color: var(--main-black);
  font-family: "San Francisco", sans-serif;
  text-decoration: none;
  line-height: 16px;
  font-weight: 600;
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

a:hover {
  color: var(--main-grey-dark);
}
